# This is an example configration file to setup a console mode window.
# Make sure to rename it to 'app.cfg' for it to work.
app_author = MS-Design
app_copyright = Copyright © 2022 MS-Design, All Rights Reserved
app_description = An app to show an example script
app_guimode = 0
app_longname = Example script
app_shortname = Example
app_tickrate = 60
app_version = R1.0
app_website = https://github.com/xmhat/msengine
err_minram = 16777216
log_level = 4
lua_script = app-textmode.lua
net_castore = ca
