/* == MSENGINE.RC ========================================================== */

/* ========================================================================= */
#ifdef RC_INVOKED
/* ------------------------------------------------------------------------- */
#  include <Windows.H>                 // Contains basic defines
#  include <MSEngine.HPP>              // Our version defines
/* ------------------------------------------------------------------------- */
#  ifdef RELEASE
#    define FFLAGS 0
#    define STATE " (Release)"
#  elif ALPHA
#    define FFLAGS VS_FF_DEBUG
#    define STATE " (Alpha)"
#  elif BETA
#    define FFLAGS VS_FF_PRERELEASE
#    define STATE " (Beta)"
#  else
#    define FFLAGS 0
#    define STATE " (Unknown)"
#  endif
#  ifdef X86
#    define BITS  " 32-Bit"
#    define EXE   "MSENGINE32.EXE"
#    define ICO   "WIN32\MSENGINE32.ICO"
#  elif X64
#    define BITS  " 64-Bit"
#    define EXE   "MSENGINE64.EXE"
#    define ICO   "WIN32\MSENGINE64.ICO"
#  else
#    define BITS  " ??-Bit"
#    define EXE   "MSENGINE.EXE"
#    define ICO   "WIN32\MSENGINE32.ICO"
#  endif
/* ------------------------------------------------------------------------- */
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_UK
/* ------------------------------------------------------------------------- */
GLFW_ICON ICON ICO
/* ------------------------------------------------------------------------- */
1 VERSIONINFO
PRODUCTVERSION     VER_STR_NQ
FILEVERSION        VER_STR_NQ
FILEOS             VOS_NT_WINDOWS32
FILEFLAGSMASK      VS_FFI_FILEFLAGSMASK
FILEFLAGS          FFLAGS
FILETYPE           VFT_APP
{
  BLOCK "StringFileInfo"
  {
    BLOCK "08091252"
    {
      VALUE "CompanyName",      "MS-Design"
      VALUE "FileDescription",  "MS-Engine"
      VALUE "FileVersion",      VER_STR
      VALUE "LegalCopyright",   "© MS-Design. All Rights Reserved."
      VALUE "OriginalFilename", EXE
      VALUE "InternalName",     EXE
      VALUE "ProductName",      "MS-Engine"
      VALUE "ProductVersion",   VER_STR STATE BITS
      VALUE "LegalTrademarks",  "©, ® and ™ of MS-Design."
      VALUE "Comments",         VER_DATE
    }
  }
  BLOCK "VarFileInfo"
  {
    VALUE "Translation",        0x0809 0x1252
  }
}
/* ------------------------------------------------------------------------- */
CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "WIN32\MSENGINE.XML"
/* ------------------------------------------------------------------------- */
#endif                                 // RC_INVOKED
/* == End-of-File ========================================================== */
